<!doctype html>
<html lang="ar" dir="rtl">

<head>
    <!-- Head Tags -->
    <%- include('../partials/HeadTags') -%>
    <!-- Head Tags -->
    <link rel="stylesheet" href="/assets/css/rtl.css">
</head>

<body> 
     <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
            xfbml            : true,
            version          : 'v9.0'
            });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Load Facebook SDK for JavaScript -->
    
    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
      attribution="setup_tool"
      page_id="108717444396038"
      theme_color="#0A7CFF">
    </div>
    <!-- Chat Plugin code -->
     
    <!-- Preloader -->
    <%- include('../partials/Preloader') -%>
    <!-- Preloader -->

    <!-- Header -->
    <%- include('../partials/ArabicNav') -%>
    <!-- Header -->

    <!-- Modal-Slider -->
    <%- include('../partials/ArabicSlider') -%>
    <!-- Modal-Slider -->

     <!-- Products -->
    <section class="featured-products-area bg-light ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>منتجاتنا المميزة</h2>
                <p>تعتبر الحبوب الغذائية من أهم مكونات بقاء الإنسان ، وإليك بعض منتجاتنا</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>منتجنا</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                فول سوداني
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>منتجنا</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                فول سوداني
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>منتجنا</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                فول سوداني
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>منتجنا</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                فول سوداني
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>منتجنا</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                فول سوداني
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>منتجنا</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                فول سوداني
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>منتجنا</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                فول سوداني
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>منتجنا</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                فول سوداني
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>منتجنا</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                فول سوداني
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>منتجنا</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                فول سوداني
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>منتجنا</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                فول سوداني
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>منتجنا</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                فول سوداني
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Products -->

     <!-- Browse Products -->
     <section class="top-products-area ptb-100" dir="ltr">
        <div class="container">
            <div class="section-title">
                <h2>تصفح بعض من منتجاتنا</h2>
                <p>تعتبر الحبوب الغذائية من أهم مكونات بقاء الإنسان ، وإليك بعض منتجاتنا</p>
            </div>
            <div class="top-products-slider owl-carousel owl-theme">
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>منتجنا</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            فول سوداني
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>منتجنا</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            فول سوداني
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>منتجنا</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            فول سوداني
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>منتجنا</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            فول سوداني
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>منتجنا</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            فول سوداني
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>منتجنا</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            فول سوداني
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>منتجنا</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            فول سوداني
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>منتجنا</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            فول سوداني
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Browse Products -->

    <!-- Footer & Copyright -->
    <%- include('../partials/ArabicFoot') -%>
    <!-- Footer & Copyright -->

    <!-- goUp -->
    <%- include('../partials/goUp') -%>
    <!-- goUp -->

    <!-- WhatsApp -->
    <%- include('../partials/WhatsApp') -%>
    <!-- WhatsApp -->

    <!-- Instagram -->
    <%- include('../partials/Instagram') -%>
    <!-- Instagram -->
    
    <!-- Script Tags -->
    <%- include('../partials/ScriptTags') -%>
    <!-- Script Tags -->
</body>

</html>