<!doctype html>
<html lang="ar" dir="rtl">

<head>
    <!-- Head Tags -->
    <%- include('../partials/HeadTags') -%>
    <!-- Head Tags -->
    <link rel="stylesheet" href="/assets/css/rtl.css">
</head>

<body>

     <!-- Load Facebook SDK for JavaScript -->
     <div id="fb-root"></div>
     <script>
       window.fbAsyncInit = function() {
         FB.init({
           xfbml            : true,
           version          : 'v9.0'
         });
       };
 
       (function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
     </script>
    <!-- Load Facebook SDK for JavaScript -->
    
    <!-- Chat Plugin code -->
    <div class="fb-customerchat"
         attribution="setup_tool"
         page_id="108717444396038"
         theme_color="#0A7CFF">
    </div>
    <!-- Chat Plugin code -->

    <!-- Preloader -->
    <%- include('../partials/Preloader') -%>
    <!-- Preloader -->

    <!-- Header -->
    <%- include('../partials/ArabicNav') -%>
    <!-- Header -->

    <!-- Modal-Slider -->
    <%- include('../partials/ArabicSlider') -%>
    <!-- Modal-Slider -->


    <!-- Terms -->
    <section class="terms-of-service-area bg-light ptb-100">
        <div class="container">
            <div class="terms-of-service-content">
                <h3>1. مرحبا بكم في شروط خدمة الهدى</h3>
                <p>مرحبا بكم في شروط خدمة الهدى. يجب أن تعلم أننا كتبنا شروط الاستخدام لكي تعرف كل شيء عن الموقع ، لذا من فضلك لا تتجاهل قراءتها ، يجب عليك قراءتها حتى تتمكن من معرفة كل شيء عن الموقع</p>
                <h3>2. أفضل شركة موثوقة لك</h3>
                <p>شركة الهدى هي شركة أغذية توفر المواد الغذائية بجودة عالية لذلك يجب أن تثق بها في جميع الأشكال. نبيع لك المنتجات الصحية بأفضل الأسعار</p>
                <h3>3. منتجات الهدى</h3>
                <p>منتجات الهدى صحية للغاية لذا يمكنك مشاهدة جميع منتجاتنا بأفضل الأسعار من <a href="/products">منتجاتنا</a></p>
                <h3>4. التواصل مع الهدى</h3>
                <p>يرجى تصفح جميع منتجاتنا وقراءة جميع ملاحظات عملائنا لمعرفة أن منتجاتنا ذات جودة عالية وإذا كنت بحاجة لشراء أي طعام منا يرجى الاتصال بنا من <a href="/contact">تواصل معنا</a></p>
                <h3>5. مميزات شركة الهدى</h3>
                <ol>
                    <li>خدمة العملاء</li>
                    <li>توافر المعدات</li>
                    <li>أسعار اقتصادية</li>
                </ol>
                <h3>6. لماذا عليك أن تختارنا؟</h3>
                <ol>
                    <li>جدولة موثوقة</li>
                    <li>تسليم سريع وموثوق</li>
                    <li>جودة عالية</li>
                </ol>
                <h3>7. سياستنا المتعلقة بالأطفال</h3>
                <p>يمكن للجميع تصفح هذا الموقع حتى يمكن للأطفال زيارته. يمكن للأطفال زيارة الموقع الإلكتروني وتصفح المنتجات وإذا كانت المنتجات تعجبهم سيخبرون والديهم بالشراء من منتجات الهدى وجهات الاتصال الخاصة بنا سوف تراها باتباع هذا الرابط <a href="/contact">تواصل معنا</a></p>
            </div>
        </div>
    </section>
    <!-- Terms -->

    <!-- Footer & Copyright -->
    <%- include('../partials/ArabicFoot') -%>
    <!-- Footer & Copyright -->

    <!-- goUp -->
    <%- include('../partials/goUp') -%>
    <!-- goUp -->

    <!-- WhatsApp -->
    <%- include('../partials/WhatsApp') -%>
    <!-- WhatsApp -->

    <!-- Instagram -->
    <%- include('../partials/Instagram') -%>
    <!-- Instagram -->
    
    <!-- Script Tags -->
    <%- include('../partials/ScriptTags') -%>
    <!-- Script Tags -->

</body>

</html>