<!doctype html>
<html lang="en">

<head>
    <!-- Head Tags -->
    <%- include('../partials/HeadTags') -%>
     <!-- Head Tags -->
</head>

<body>
     <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
            xfbml            : true,
            version          : 'v9.0'
            });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Load Facebook SDK for JavaScript -->
    
    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
      attribution="setup_tool"
      page_id="108717444396038"
      theme_color="#0A7CFF">
    </div>
    <!-- Chat Plugin code -->
     
    <!-- Preloader -->
    <%- include('../partials/Preloader') -%>
    <!-- Preloader -->

    <!-- Header -->
    <%- include('../partials/EnglishNav') -%>
    <!-- Header -->

    <!-- Modal-Slider -->
    <%- include('../partials/EnglishSlider') -%>
    <!-- Modal-Slider -->

    <!-- About-Area -->
    <section class="about-area bg-light ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3>About Us</h3>
                        <p>El-Hoda is a food company that provides foodstufs with high quality. You can browse all our products from <a href="/products">Products</a> and contact us through from <a href="/contact">Contact Us</a></p>
                        <ul class="about-list">
                            <li><i class='bx bx-check'></i> Natural Process</li>
                            <li><i class='bx bx-check'></i> Premium Quality</li>
                            <li><i class='bx bx-check'></i> Harvest Everyday</li>
                            <li><i class='bx bx-check'></i> 100% Organic</li>
                            <li><i class='bx bx-check'></i> Fast Delivery</li>
                        </ul>
                        <div class="about-btn">
                            <a href="/about" class="default-btn">About Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src="/assets/img/about.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-Area -->

   <!-- Footer & Copyright -->
   <%- include('../partials/EnglishFoot') -%>
   <!-- Footer & Copyright -->

   <!-- goUp -->
   <%- include('../partials/goUp') -%>
  <!-- goUp -->

  <!-- WhatsApp -->
  <%- include('../partials/WhatsApp') -%>
  <!-- WhatsApp -->

  <!-- Instagram -->
  <%- include('../partials/Instagram') -%>
  <!-- Instagram -->

   <!-- Script Tags -->
   <%- include('../partials/ScriptTags') -%>
   <!-- Script Tags -->
</body>

</html>