<!doctype html>
<html lang="en">

<head>
     <!-- Head Tags -->
     <%- include('../partials/HeadTags') -%>
     <!-- Head Tags -->
</head>

<body>
     <!-- Load Facebook SDK for JavaScript -->
     <div id="fb-root"></div>
     <script>
       window.fbAsyncInit = function() {
         FB.init({
           xfbml            : true,
           version          : 'v9.0'
         });
       };
 
       (function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
     </script>
    <!-- Load Facebook SDK for JavaScript -->
    
    <!-- Chat Plugin code -->
    <div class="fb-customerchat"
         attribution="setup_tool"
         page_id="108717444396038"
         theme_color="#0A7CFF">
    </div>
    <!-- Chat Plugin code -->
     
    <!-- Preloader -->
    <%- include('../partials/Preloader') -%>
    <!-- Preloader -->

    <!-- Header -->
    <%- include('../partials/EnglishNav') -%>
    <!-- Header -->

    <!-- Modal-Slider -->
    <%- include('../partials/EnglishSlider') -%>
    <!-- Modal-Slider -->
    
    <!-- Contact -->
    <section class="contact-info-area bg-light ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>El-Hoda Contacts</h2>
                <p>Contact with El-Hoda through the Email, Location or WhatsApp</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="contact-info-box">
                        <div class="icon">
                            <i class='bx bx-envelope'></i>
                        </div>
                        <h3>Email</h3>
                        <p><a href="mailto:elhodaagrotrade@gmail.com">elhodaagrotrade@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="contact-info-box">
                        <div class="icon">
                            <i class='bx bx-map'></i>
                        </div>
                        <h3>Location</h3>
                        <p>Kafr el Sheikh Governorate, Egypt</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="contact-info-box">
                        <div class="icon"> 
                            <i class='bx bxl-whatsapp'></i>
                        </div>
                        <h3>WhatsApp</h3>
                        <p><a href="https://api.whatsapp.com/send?phone=201010506014" target="_blank">(+20) 1010506014</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Contact -->

     <!-- Footer & Copyright -->
     <%- include('../partials/EnglishFoot') -%>
     <!-- Footer & Copyright -->
 
     <!-- goUp -->
     <%- include('../partials/goUp') -%>
    <!-- goUp -->

    <!-- WhatsApp -->
    <%- include('../partials/WhatsApp') -%>
    <!-- WhatsApp -->

    <!-- Instagram -->
    <%- include('../partials/Instagram') -%>
    <!-- Instagram -->

     <!-- Script Tags -->
     <%- include('../partials/ScriptTags') -%>
     <!-- Script Tags -->
</body>

</html>