<!doctype html>
<html lang="en">

<head>

    <!-- Head Tags -->
    <%- include('../partials/HeadTags') -%>
    <!-- Head Tags -->
   
</head>

<body>

   <!-- Load Facebook SDK for JavaScript -->
   <div id="fb-root"></div>
   <script>
     window.fbAsyncInit = function() {
       FB.init({
         xfbml            : true,
         version          : 'v9.0'
       });
     };

     (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>
   <!-- Load Facebook SDK for JavaScript -->
   
   <!-- Your Chat Plugin code -->
   <div class="fb-customerchat"
        attribution="setup_tool"
        page_id="282806655612607"
        theme_color="#0A7CFF">
   </div>
   <!-- Chat Plugin code -->

   

     <!-- Preloader -->
     <%- include('../partials/Preloader') -%>
     <!-- Preloader -->
 
     <!-- Header -->
     <%- include('../partials/EnglishNav') -%>
     <!-- Header -->
 
     <!-- Modal-Slider -->
     <%- include('../partials/EnglishSlider') -%>
     <!-- Modal-Slider -->

     <!-- Banner -->
    <div class="main-banner">
        <div class="main-banner-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <span>El-Hoda Corporation</span>
                            <h1>For Import & Export Food Grains</h1>
                            <p>El-hoda corporation has established itself as a major role in the trading of foodgrains</p>
                            <div class="banner-btn">
                                <a href="/products" class="default-btn">Products</a>
                                <a href="/contact" class="optional-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Banner -->

    <!-- Features -->
     <section class="special-features-area ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>El-Hoda Features</h2>
                <p>There are lot of features for the El-Hoda Company and these features are Customer Service, Equipment Availability and  Economical Prices</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-special-features">
                        <div class="icon">
                            <i class="fas fa-user-check"></i>
                        </div>
                        <div class="content">
                            <h3>Customer Service</h3>
                            <p>customer service tailored to your needs</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-special-features">
                        <div class="icon">
                            <i class="fab fa-accusoft"></i>
                        </div>
                        <div class="content">
                            <h3>Equipment Availability</h3>
                            <p>equipment availability and reliable scheduling</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="single-special-features">
                        <div class="icon">
                            <i class="fas fa-money-bill-wave"></i>
                        </div>
                        <div class="content">
                            <h3>Economical Prices</h3>
                            <p>Our products are high quality with economical prices</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features -->

    <!-- Why-Choose-Us -->
    <section class="why-us bg-light ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="features-image">
                        <img src="/assets/img/features.png" alt="image" title="el-hoda">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="features-item">
                        <div class="features-content">
                            <h3>Why Choose us?</h3>
                            <p>Our Corporation is Capable of Providing High Quality Food Grains with Economical Prices
                                by Reliable Scheduling, Fast and Reliable Transits</p>
                        </div>
                        <div class="features-inner-content">
                            <div class="icon">
                                <i class="fas fa-spa"></i>
                            </div>
                            <h4>Reliable Scheduling</h4>
                            <p>Reliable scheduling helps us to achive the best use of time</p>
                        </div>
                        <div class="features-inner-content">
                            <div class="icon">
                                <i class="far fa-heart"></i>
                            </div>
                            <h4>Fast and Reliable delivery</h4>
                            <p>foodgrains delivery accomplished in a short time </p>
                        </div>
                        <div class="features-inner-content">
                            <div class="icon">
                                <i class="fas fa-globe"></i>
                            </div>
                            <h4>High Quality</h4>
                            <p>Providing High Quality Food Grains</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why-Choose-Us -->

    <!-- Products -->
    <section class="featured-products-area ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>Featured Products</h2>
                <p>Food grains are considered as the most essential component for the survival of human beings, Here are Some Of our Products</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Products -->

     <!-- Browse Products -->
     <section class="top-products-area bg-light ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>Browse El-Hoda Products</h2>
                <p>Food grains are considered as the most essential component for the survival of human beings, Here are Some Of our Products</p>
            </div>
            <div class="top-products-slider owl-carousel owl-theme">
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Bean
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Bean
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Bean
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Bean
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Bean
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Bean
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Bean
                        </h3>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Bean
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Browse Products -->


    <!-- Feedback -->
    <section class="client-area ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>Some of our Clients' feedback</h2>
                <p>The following feedbacks are some feedbacks about our Products. Please, Read them carefully to know the clients evaluation about our products and to be confident of our products.</p>
            </div>
            <div class="client-slider owl-carousel owl-theme">
                <div class="client-item">
                    <div class="icon">
                        <i class="fas fa-quote-right"></i>
                    </div>
                    <p>El-Hoda Products are the best products we have ever seen. They sell very good foodstuffs and the foodstuffs are coming with high quality so you must try them. El-Hoda Products are the best products we have ever seen. They sell very good foodstuffs and the foodstuffs are coming with high quality so you must try them</p>
                </div>
                <div class="client-item">
                    <div class="icon">
                        <i class="fas fa-quote-right"></i>
                    </div>
                    <p>El-Hoda Products are the best products we have ever seen. They sell very good foodstuffs and the foodstuffs are coming with high quality so you must try them. El-Hoda Products are the best products we have ever seen. They sell very good foodstuffs and the foodstuffs are coming with high quality so you must try them</p>
                </div>
                <div class="client-item">
                    <div class="icon">
                        <i class="fas fa-quote-right"></i>
                    </div>
                    <p>El-Hoda Products are the best products we have ever seen. They sell very good foodstuffs and the foodstuffs are coming with high quality so you must try them. El-Hoda Products are the best products we have ever seen. They sell very good foodstuffs and the foodstuffs are coming with high quality so you must try them</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Feedback -->

     <!-- Footer & Copyright -->
     <%- include('../partials/EnglishFoot') -%>
     <!-- Footer & Copyright -->
 
     <!-- goUp -->
     <%- include('../partials/goUp') -%>
    <!-- goUp -->

    <!-- WhatsApp -->
     <%- include('../partials/WhatsApp') -%>
    <!-- WhatsApp -->

    <!-- Instagram -->
    <%- include('../partials/Instagram') -%>
    <!-- Instagram -->

     <!-- Script Tags -->
     <%- include('../partials/ScriptTags') -%>
     <!-- Script Tags -->
    
</body>

</html>