<!doctype html>
<html lang="en">

<head>

    <!-- Head Tags -->
    <%- include('../partials/HeadTags') -%>
    <!-- Head Tags -->
   
</head>

<body>

     <!-- Preloader -->
     <%- include('../partials/Preloader') -%>
     <!-- Preloader -->
 
     <!-- Header -->
     <%- include('../partials/EnglishNav') -%>
     <!-- Header -->
 
     <!-- Modal-Slider -->
     <%- include('../partials/EnglishSlider') -%>
     <!-- Modal-Slider -->

     <!-- Banner -->
    <div class="main-banner">
        <div class="main-banner-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <span>Buy Products from El-Hoda Company</span>
                            <h1>El-Hoda Products are good For Health</h1>
                            <p>You should try the El-Hoda products because these products are very good for health</p>
                            <div class="banner-btn">
                                <a href="/products" class="default-btn">Products</a>
                                <a href="/contact" class="optional-btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Banner -->

    <!-- Features -->
     <section class="special-features-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>El-Hoda Features</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua quis ipsum suspendisse</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-special-features">
                        <div class="image">
                            <img src="assets/img/special-features/special-features-1.png" alt="image">
                        </div>
                        <div class="content">
                            <h3>Natural Products</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-special-features">
                        <div class="image">
                            <img src="assets/img/special-features/special-features-2.png" alt="image">
                        </div>
                        <div class="content">
                            <h3>Best Food For Health</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="single-special-features">
                        <div class="image">
                            <img src="assets/img/special-features/special-features-3.png" alt="image">
                        </div>
                        <div class="content">
                            <h3>Award-Winning Company</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features -->

    <!-- Why-Choose-Us -->
    <section class="why-us bg-light pt-100 pb-100">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="features-image">
                        <img src="assets/img/features.png" alt="image" title="el-hoda">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="features-item">
                        <div class="features-content">
                            <h3>Why Choose us?</h3>
                            <p>You must choose El-Hoda Products because its products are very Organic, Fast And Easy, High Quality</p>
                        </div>
                        <div class="features-inner-content">
                            <div class="icon">
                                <i class="fas fa-spa"></i>
                            </div>
                            <h4>Organic</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua</p>
                        </div>
                        <div class="features-inner-content">
                            <div class="icon">
                                <i class="far fa-heart"></i>
                            </div>
                            <h4>Fast And Easy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua</p>
                        </div>
                        <div class="features-inner-content">
                            <div class="icon">
                                <i class="fas fa-globe"></i>
                            </div>
                            <h4>High Quality</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why-Choose-Us -->

    <!-- Products -->
    <section class="featured-products-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Featured Products</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua quis ipsum suspendisse</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-1.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean
                            </h3>
                            <div class="price">
                                <span class="new-price">50 EGP</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-2.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Meat-new
                            </h3>
                            <div class="price">
                                <span class="new-price">60 EGP</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-3.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Fish-new
                            </h3>
                            <div class="price">
                                <span class="new-price">40 EGP</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-4.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Bean2 new
                            </h3>
                            <div class="price">
                                <span class="new-price">80 EGP</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-5.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                new Bean
                            </h3>
                            <div class="price">
                                <span class="new-price">80 EGP</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-6.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Meat now
                            </h3>
                            <div class="price">
                                <span class="new-price">100 EGP</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-7.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Fish now
                            </h3>
                            <div class="price">
                                <span class="new-price">120 EGP</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-8.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                new Bean
                            </h3>
                            <div class="price">
                                <span class="new-price">65 EGP</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-2.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                Fish now
                            </h3>
                            <div class="price">
                                <span class="new-price">75 EGP</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-4.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                new Fish
                            </h3>
                            <div class="price">
                                <span class="new-price">55 EGP</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-6.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                new Owner
                            </h3>
                            <div class="price">
                                <span class="new-price">65 EGP</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="featured-products-item">
                        <div class="products-image">
                            <img src="/assets/img/featured-products/featured-products-8.jpg"
                            alt="image">
                            <div class="new">
                                <span>Product</span>
                            </div>
                        </div>
                        <div class="products-content">
                            <h3>
                                new Gear
                            </h3>
                            <div class="price">
                                <span class="new-price">53 EGP</span>
                            </div>
                            <ul class="rating">
                                <li>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Products -->

    <!-- Feedback -->
    <section class="client-area ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>Client’s Feedback</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
            </div>
            <div class="client-slider owl-carousel owl-theme">
                <div class="client-item">
                    <div class="icon">
                        <i class="fas fa-quote-right"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.Lorem
                        Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
                </div>
                <div class="client-item">
                    <div class="icon">
                        <i class="fas fa-quote-right"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.Lorem
                        Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
                </div>
                <div class="client-item">
                    <div class="icon">
                        <i class="fas fa-quote-right"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.Lorem
                        Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Feedback -->

     <!-- Footer & Copyright -->
     <%- include('../partials/EnglishFoot') -%>
     <!-- Footer & Copyright -->
 
     <!-- goUp -->
     <%- include('../partials/goUp') -%>
    <!-- goUp -->

     <!-- Script Tags -->
     <%- include('../partials/ScriptTags') -%>
     <!-- Script Tags -->
    
</body>

</html>