<!doctype html>
<html lang="en">

<head>
   <!-- Head Tags -->
   <%- include('../partials/HeadTags') -%>
   <!-- Head Tags -->
</head>

<body>

   <!-- Preloader -->
   <%- include('../partials/Preloader') -%>
   <!-- Preloader -->

   <!-- Header -->
   <%- include('../partials/EnglishNav') -%>
   <!-- Header -->

   <!-- Modal-Slider -->
   <%- include('../partials/EnglishSlider') -%>
   <!-- Modal-Slider -->
    
    <!-- Privacy -->
    <section class="privacy-policy-area bg-light ptb-100">
        <div class="container">
            <div class="terms-of-service-content">
                <h3>1. Welcome To El-Hoda Terms of Service</h3>
                <p>Welcome To El-Hoda Terms of Service. You must know that we have written the terms of use for you to know that everything about the website so please don't ignore read them you must read them to be able to everyting about the website</p>
                <h3>2. The Best Trusted Company For You</h3>
                <p>El-Hoda Company is a food company that provides foodstuffs with high quality so you must trust in it in all shapes. We sell healthy products for you with the best prices</h3>
                <h3>3. El-Hoda Products</h3>
                <p>El-Hoda Products are very healthy so you can see all our products with the best prices from <a href="/products">Products</a></p>
                <h3>4. El-Hoda Contact Us</h3>
                <p>Please browse all our products and read all our clients feedback to know that our products with high quality and if you need to buy any food from us please contact us from <a href="/contact">Contact Us</a></p>
                <h3>5. El-Hoda Special Features</h3>
                <ol>
                    <li>Our Products are Natural Products</li>
                    <li>Our Products are Best Food For Health</li>
                    <li>El-Hoda Company is Successful Company</li>
                </ol>
                <h3>6. Why do you should choose El-Hoda?</h3>
                <ol>
                    <li>Because Our products are Organic</li>
                    <li>Because Our products are Fast And Easy</li>
                    <li>Because Our products are High Quality</li>
                </ol>
                <h3>7. Our Policy Concerning Children</h3>
                <p>Everyone can browse this website even the children can visit it. The children can visit the website and browse the products and if the products like them they will tell their parents to buy from El-Hoda Products and our contacts you will see them by following this link <a href="/contact">Contact</a></p>
            </div>
        </div>
    </section>
    <!-- Privacy -->

    <!-- Footer & Copyright -->
     <%- include('../partials/EnglishFoot') -%>
     <!-- Footer & Copyright -->
 
     <!-- goUp -->
     <%- include('../partials/goUp') -%>
    <!-- goUp -->

     <!-- Script Tags -->
     <%- include('../partials/ScriptTags') -%>
     <!-- Script Tags -->
</body>

</html>