<!doctype html>
<html lang="en">

<head>
    <!-- Head Tags -->
    <%- include('../partials/HeadTags') -%>
    <!-- Head Tags -->
</head>

<body>
     <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
            xfbml            : true,
            version          : 'v9.0'
            });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Load Facebook SDK for JavaScript -->
    
    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
      attribution="setup_tool"
      page_id="108717444396038"
      theme_color="#0A7CFF">
    </div>
    <!-- Chat Plugin code -->
     
     <!-- Preloader -->
     <%- include('../partials/Preloader') -%>
     <!-- Preloader -->
 
     <!-- Header -->
     <%- include('../partials/EnglishNav') -%>
     <!-- Header -->
 
     <!-- Modal-Slider -->
     <%- include('../partials/EnglishSlider') -%>
     <!-- Modal-Slider -->

     <!-- Products -->
     <section class="featured-products-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Featured Products</h2>
            <p>We have lots of health foodstuffs. You should visit El-Hoda Company to try them and you will get very good experience with our products.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="featured-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-1.jpg"
                        alt="image">
                        <div class="new">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Bean
                        </h3>
                        <div class="price">
                            <span class="new-price">50 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="featured-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-2.jpg"
                        alt="image">
                        <div class="new">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Meat-new
                        </h3>
                        <div class="price">
                            <span class="new-price">60 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="featured-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-3.jpg"
                        alt="image">
                        <div class="new">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Fish-new
                        </h3>
                        <div class="price">
                            <span class="new-price">40 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="featured-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-4.jpg"
                        alt="image">
                        <div class="new">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Bean2 new
                        </h3>
                        <div class="price">
                            <span class="new-price">80 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="featured-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-5.jpg"
                        alt="image">
                        <div class="new">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            new Bean
                        </h3>
                        <div class="price">
                            <span class="new-price">80 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="featured-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-6.jpg"
                        alt="image">
                        <div class="new">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Meat now
                        </h3>
                        <div class="price">
                            <span class="new-price">100 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="featured-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-7.jpg"
                        alt="image">
                        <div class="new">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Fish now
                        </h3>
                        <div class="price">
                            <span class="new-price">120 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="featured-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-8.jpg"
                        alt="image">
                        <div class="new">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            new Bean
                        </h3>
                        <div class="price">
                            <span class="new-price">65 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="featured-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-2.jpg"
                        alt="image">
                        <div class="new">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Fish now
                        </h3>
                        <div class="price">
                            <span class="new-price">75 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="featured-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-4.jpg"
                        alt="image">
                        <div class="new">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            new Fish
                        </h3>
                        <div class="price">
                            <span class="new-price">55 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="featured-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-6.jpg"
                        alt="image">
                        <div class="new">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            new Owner
                        </h3>
                        <div class="price">
                            <span class="new-price">65 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="featured-products-item">
                    <div class="products-image">
                        <img src="/assets/img/featured-products/featured-products-8.jpg"
                        alt="image">
                        <div class="new">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            new Gear
                        </h3>
                        <div class="price">
                            <span class="new-price">53 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
     </section>
     <!-- Products -->

    <!-- Browse Products -->
    <section class="top-products-area bg-light ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>Browse El-Hoda Products</h2>
                <p>El-Hoda foodstuffs are a lot so we allow you to browse all our products that are shown with title, price and quality</p>
            </div>
            <div class="top-products-slider owl-carousel owl-theme">
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/top-products/top-products-1.jpg" alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Darling Orange
                        </h3>
                        <div class="price">
                            <span class="new-price">38.00 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/top-products/top-products-2.jpg" alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Strawberry
                        </h3>
                        <div class="price">
                            <span class="new-price">30.00 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/top-products/top-products-3.jpg" alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Cabbage
                        </h3>
                        <div class="price">
                            <span class="new-price">40.00 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/top-products/top-products-4.jpg" alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Nectarine
                        </h3>
                        <div class="price">
                            <span class="new-price">45.00 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/top-products/top-products-5.jpg" alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Seasoned Tomatoes
                        </h3>
                        <div class="price">
                            <span class="new-price">68.00 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/top-products/top-products-6.jpg" alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Seasoned Carrot
                        </h3>
                        <div class="price">
                            <span class="new-price">30.00 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/top-products/top-products-7.jpg" alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Pineapple
                        </h3>
                        <div class="price">
                            <span class="new-price">39.00 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="top-products-item">
                    <div class="products-image">
                        <img src="/assets/img/top-products/top-products-8.jpg" alt="image">
                        <div class="sale">
                            <span>Product</span>
                        </div>
                    </div>
                    <div class="products-content">
                        <h3>
                            Fresh Banana
                        </h3>
                        <div class="price">
                            <span class="new-price">17.00 EGP</span>
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Browse Products -->

     <!-- Footer & Copyright -->
     <%- include('../partials/EnglishFoot') -%>
     <!-- Footer & Copyright -->
 
     <!-- goUp -->
     <%- include('../partials/goUp') -%>
    <!-- goUp -->

     <!-- WhatsApp -->
     <%- include('../partials/WhatsApp') -%>
     <!-- WhatsApp -->
 
     <!-- Instagram -->
     <%- include('../partials/Instagram') -%>
     <!-- Instagram -->

     <!-- Script Tags -->
     <%- include('../partials/ScriptTags') -%>
     <!-- Script Tags -->
</body>

</html>